<div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">

    <!-- Author Avatar -->
    <div id="author-avatar">
        <img src="<%- theme.img.avatar %>" width="44px" height="44px" alt="Author Avatar"/>
    </div>
    <!-- Author Name & Date -->
    <div>
        <strong><%= config.author %></strong>
        <span><%= date(page.date, 'MMM DD, YYYY') %></span>
    </div>

    <div class="section-spacer"></div>

    <!-- Favorite -->
    <!--
        <button id="article-functions-like-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon btn-like">
            <i class="material-icons" role="presentation">favorite</i>
            <span class="visuallyhidden">favorites</span>
        </button>
    -->

    <!-- Qrcode -->
    <% if(theme.qrcode.enable === true) { %>
        <%- partial('_widget/qrcode') %>
    <% } %>

    <!-- Share -->
    <%- partial('_partial/post-info-share') %>
</div>
