//- script(src= config.root + 'scripts/index.js', type='text/javascript')
if config.disqus_shortname && !is_page()
  - var disqus_type = page.comments ? 'embed' : 'count'
  script(async).
    (function(h,g,l,k,j,i){j=h.createElement(g),i=h.getElementsByTagName(g)[0],
    j.src = '//' + l + '.disqus.com/' + k + '.js', i.parentNode.insertBefore(j, i)})
    (document,'script','#{config.disqus_shortname}','#{disqus_type}');

  script(async).
    var disqus_shortname = '#{config.disqus_shortname}';
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    }());

if is_post()
  script(async, defer, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});


script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102071773-1', 'auto');
  ga('send', 'pageview');


